#main{
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 700px;
}

#left{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

#right{
    width: 100%;
    display: flex;
    flex-direction: row; 
}

#cat{  
    width: 100%;
}

#status{
    width: 100%;
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}

#action{
    width: 15%;
    display: flex;
}

#history{
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    background-color: grey;
}

button{
    size: 40px;
}